torch
transformers
langchain
sentence-transformers
tqdm
openpyxl
openai
pandas
datasets
langchain-community
ragatouille
langchain_community
elasticsearch
tiktoken
langchain-elasticsearch
unstructured
jq
chainlit
langchain_openai